/* navbar */

@media only screen and (max-width:1240px){

#navbar{
    text-align: center;
}

#navbar h1{
    font-size: xx-large;
    width: 100%;
}

#navbar ul{
    padding: 10px;
    width: 100%;
    justify-content: center;
}

#navbar ul li{
    margin-top: 15px;
    width: 100%;
    margin-right: 0px;
    border-bottom: 1px dotted #888;
}

#navbar .nav-btn{
    margin-top: 5px;
}

}

/* showcase */

@media only screen and (max-width:1240px){
#showcase{
    width: 100vw;
}


/* company logos */

#company-logos{
    height: 100%;
    justify-content: space-around;
}

#company-logos div{
    margin-top: 15px;
    width: 50%;
    height: 35px;
}

#company-logos div img{
    width: 50%;
    height: 35px;
}

}


/* home-info */

@media(max-width:500px){

    .info-left{
        width: 100%;
    }

    .info-right{
        margin-top: 20px;
        width: 100%;
    }
}

@media (min-width:501px) and (max-width:1240px){
    
    .info-left{
        width: 90%;
    }

    .info-right{
        margin-top: 20px;
        width: 90%;
    }
}


/* company logos */


@media(max-width:500px){

    #company-logos{
        height: 100%;
        padding: 25px 15px;
        justify-content: flex-end;
        align-content: space-around;
    }

    #company-logos div{
        width: 45%;
        height: 80%;
    }

    #company-logos div img{
        width: 80%;
        height: 100%;
    }
}

@media(min-width:501px) and (max-width:800px){

    #company-logos{
        height: 100%;
        padding: 25px 15px;
        justify-content: flex-end;
        align-content: space-around;
    }

    #company-logos div{
        width: 45%;
        height: 70%;
    }

    #company-logos div img{
        width: 60%;
        height: 80%;
    }
}


@media(min-width:801px) and (max-width:1240px){

    #company-logos{
        justify-content: flex-end;
        align-content: space-around;
    }

    #company-logos div{
        width: 30%;
        height: 80%;
    }

    #company-logos div img{
        width: 50%;
        height: 100%;
    }
}


/* features */

@media (max-width:767px){
    
    #features .feature{
        width: 90%;
    }
}

@media(min-width:768px) and (max-width:1240px){

    #features .feature{
        padding: 30px 10px;
    }
}



/* footer */

@media(max-width:500px){

    .foot-1{
        padding: 20px 5px;
        justify-content: center;
        align-content: space-around;
        height: 100%;
    }

    .foot-1 .foot{
        padding: 15px 20px;
        width: 90%;
        border-bottom: 1px dotted rgb(202, 199, 199);
    }

    .foot-1 .foot-news{
        padding: 15px 20px;
        width: 90%;
    }

    .address ul{
        flex-wrap: wrap;
    }

    .news .submit{
        margin: 5px;
    }

}


@media(min-width:501px) and (max-width:930px){

    .foot-1{
        padding: 20px 5px;
        align-content: space-around;
        height: 100%;
    }

    .foot-1 .foot{
        padding: 15px 20px;
        width: 45%;
    }

    .foot-1 .foot-news{
        padding: 15px 20px;
        width: 45%;
    }

    .address ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .news .submit{
        margin: 5px;
    }

}



